{% extends 'layout.twig' %}

{% block content %}
    <h2>New User</h2>
	<a href="{{ 'admin/users' | url }}" class="btn btn-default">Back</a> <br><br>

	{% if result %}
		<div class="alert alert-success">
			User Saved!!
		</div>
	{% endif %}

	{% if errors %}
		{% include('partials/errors.twig') %}
	{% endif %}
	
	<form method="post">
		<div class="form-group">
			<label for="inputName">Name</label> <br>
			<input type="text" name="name" id="inputName" value="" class="form-control">
		</div>
		<div class="form-group">
			<label for="inputEmail">Email</label> <br>
			<input type="text" name="email" id="inputEmail" value="" class="form-control">
		</div>
		<div class="form-group">
			<label for="inputPassword">Password</label> <br>
			<input type="password" name="password" id="inputPassword" value="" class="form-control">
		</div>

		<div class="form-group">
			<input type="submit" value="Save" class="btn btn-primary">
		</div>
	</form>
{% endblock %}