{% extends 'layout.twig' %}

{% block content %}
    <h2>New Post</h2>
	<a href="{{ 'admin/posts' | url }}" class="btn btn-default">Back</a> <br><br>

	{% if result %}
		<div class="alert alert-success">
			Post Saved!!
		</div>
	{% endif %}

	{% if errors %}
		{% include('partials/errors.twig') %}
	{% endif %}
	
	<form method="post">
		<div class="form-group">
			<label for="inputTitle">Title</label> <br>
			<input type="text" name="title" id="inputTitle" value="" class="form-control">
		</div>
		<div class="form-group">
			<label for="inputContent">Content</label> <br>
			<textarea name="content" id="inputContent" rows="5" class="form-control"></textarea><br>
		</div>

		<div class="form-group">
			<input type="submit" value="Save" class="btn btn-primary">
		</div>
	</form>
{% endblock %}